<h3>Classrooms</h3>
<table>
  <tr>
    <th>Student Name</th>
    <th></th>
  </tr>
<% @class_room.children.each do |c| %>
  <tr>
    <td><%= c.first_name  %> <%= c.last_name %></td>
    <td><%=  link_to 'remove', remove_from_class_path(c), method: :put  %></td>
  </tr>
<% end %>
</table>
<h4>That is the classroom</h4>
<h4>Want to see the <%= link_to 'others', class_rooms_path %>?</h4>
