/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
td.new { color: green; }
th {text-align: left;}

.outer {
  border-radius: 45px;
  /*background-color: #E0F5FF;*/
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  width: 50%;
}
.main { 
  border-style: solid;
  border-width: 0px;
  border-radius: 35px;
  padding: 5px 20px 15px;
  background-color: #ffd6ad;
  margin-top: 2px;
}

.page_header { padding: 0px 30px;}

html {
  font-family: optima;
}

#banner {
  background-color:  #9c9;
  font-size: 40px;
 /* padding: 10px;*/
}

div.field {margin-bottom: .6em;}
/*td {color: red;}
*/


